@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

:root {
    --primaryColor: #4281f5; /*var(--primaryColor)*/
    --mainWhite: #fff; /*var(--mainWhite)*/
    --mainBlack: #222; /*var(--mainBlack)*/
    --mainGrey: #ececec; /*var(--mainGrey)*/
    --mainSpacing: 0.1rem;
    --mainTransition: all 0.3s linear;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: var(--mainBlack);
    background: var(--mainWhite);
    font-family: "Lato", sans-serif;
}
/* --------------- Navbar ---------------- */
.navbar {
    position: sticky;
    top: 0;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    background: rgb(231, 226, 221);
    z-index: 1;
}
.navbar-center {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
}
.nav-icon {
    font-size: 1.5rem;
}
.cart-btn {
    position: relative;
    cursor: pointer;
}
.cart-items {
    position: absolute;
    top: -8px;
    right: -8px;
    background: var(--primaryColor);
    padding: 0 5px;
    border-radius: 30%;
    color: var(--mainWhite);
}
  /* --------------- End of Navbar ---------------- */
  /* --------------- Hero ---------------- */
.hero {
    min-height: calc(100vh - 60px);
    background: url("../images/hero-bcg.jpg") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner {
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    display: inline-block;
    padding: 2rem;
}
.banner-title {
    font-size: 3.4rem;
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
    margin-bottom: 3rem;
}
.banner-btn {
    padding: 1rem 3rem;
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
    font-size: 1rem;
    background: var(--primaryColor);
    color: var(--mainBlack);
    border: 1px solid var(--primaryColor);
    transition: var(--mainTransition);
    cursor: pointer;
}
.banner-btn:hover {
    background: transparent;
    color: var(--primaryColor);
}
  /* --------------- End of Hero ---------------- */
  /* --------------- Products ---------------- */
.products {
    padding: 4rem 0;
}
.section-title h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 5rem;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
}
.section-title h3{
    text-align: center;
    font-size: 1.5rem;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
}
.section-title-filter{
    text-align: center;
    margin-bottom: 3rem;
}
.section-title-filter input{
    border-radius: 2%;
    background-color:aliceblue;
    width: 30%;
    border: none;
    outline: none;
}
.products-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    /*acá podemos editar cuantos productos se muestran por fila*/
    grid-template-columns: repeat(auto-fit, minmax(260px, 0.25fr));
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
}
.img-container {
    position: relative;
    overflow: hidden;
}
.bag-btn {
    position: absolute;
    top: 70%;
    right: 0;
    background: var(--primaryColor);
    border: none;
    text-transform: uppercase;
    padding: 0.5rem 0.75rem;
    letter-spacing: var(--mainSpacing);
    font-weight: bold;
    transition: var(--mainTransition);
    transform: translateX(101%);
    cursor: pointer;
}
.bag-btn:hover {
    color: var(--mainWhite);
}
.fa-shopping-cart {
    margin-right: 0.5rem;
}
.img-container:hover .bag-btn {
    transform: translateX(0);
}
.product-img {
    display: block;
    width: 100%;
    min-height: 12rem;
    transition: var(--mainTransition);
}
.img-container:hover .product-img {
    opacity: 0.5;
}
.product h3 {
    text-transform: capitalize;
    font-size: 1.1rem;
    margin-top: 1rem;
    letter-spacing: var(--mainSpacing);
    text-align: center;
}
.product h4 {
    margin-top: 0.7rem;
    letter-spacing: var(--mainSpacing);
    color: var(--primaryColor);
    text-align: center;
}
.hide {
    display: none;
}
  /* ---------------End of Products ---------------- */
  /* --------------- Cart ---------------- */
.cart-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: var(--mainTransition);
    background: rgba(81, 137, 240, 0.5);
    z-index: 2;
    visibility: hidden;
}
.cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    z-index: 3;
    background: rgb(231, 226, 221);
    padding: 1.5rem;
    transition: var(--mainTransition);
    transform: translateX(100%);
}
.showCart { /*muestra el carrito*/
    transform: translateX(0);
}
.transparentBcg { /*hace visible el cobertor de la pantalla*/
    visibility: visible;
}
@media screen and (min-width: 768px) {
    .cart {
    width: 30vw;
    min-width: 450px;
    }
}
.close-cart {
    font-size: 1.7rem;
    cursor: pointer;
}
.cart h2 {
    text-transform: capitalize;
    text-align: center;
    letter-spacing: var(--mainSpacing);
    margin-bottom: 2rem;
}
/* --------------- End of Cart ---------------- */
/*---------- Cart Item -------------------- */
.cart-item {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 1.5rem;
    margin: 1.5rem 0;
}
.cart-item img {
    width: 75px;
    height: 75px;
}
.cart-item h4 {
    font-size: 0.85rem;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
}
.cart-item h5 {
    margin: 0.5rem 0;
    letter-spacing: var(--mainSpacing);
}
.item-amount {
    text-align: center;
}
.remove-item {
    color: grey;
    cursor: pointer;
}
.fa-chevron-up,
.fa-chevron-down {
    color: var(--primaryColor);
    cursor: pointer;
}
/*---------- End of Cart Item -------------------- */
/* --------------- Cart footer---------------- */
.cart-footer {
    margin-top: 2rem;
    letter-spacing: var(--mainSpacing);
    text-align: center;
}
.cart-footer h3 {
    text-transform: capitalize;
    margin-bottom: 1rem;
}
.cart-footer-banner-btn {
    display:flex;
    align-content: space-between;
}
.clear-cart, .check-out-cart{
    margin: 1rem 1rem;
}
/* --------------- End of Cart footer---------------- */
/*---------- login form -------------------- */
.login-form-container h2{
    background-color: var(--mainWhite);
    padding: 30px 35px;
    margin: -10px -50px;
    text-align:center;
    }
    .login-form-container hr{
    margin: 10px -50px;
    border: 0;
    border-top: 1px solid var(--mainGrey);
    margin-bottom: 40px;
    }
    .login-form-container{
    width: 900px;
    height: 610px;
    letter-spacing: var(--mainSpacing);
    text-align: center;
    transition: var(--mainTransition);
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(81, 137, 240, 0.5);
    z-index: 2;
    visibility: hidden;
    }
    .main{
    /* width: 300px;
    padding: 10px 50px 25px; */
    float:left;
    /* margin-top:50px; */
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    z-index: 3;
    background: var(--mainWhite);
    padding: 1.5rem;
    transition: var(--mainTransition);
    transform: translateX(100%); /*poner 100% para que no se vea, al 0% para que se vea*/
    }
    @media screen and (min-width: 768px) {
        .login-form-container .main {
        width: 30vw;
        min-width: 450px;
        }
    }
    .login-form-container input[type=text],.login-form-container input[type=password]{
    width: 100%;
    height: 40px;
    padding: 5px;
    margin-bottom: 25px;
    margin-top: 5px;
    border: 2px solid var(--mainGrey);
    color: #4f4f4f;
    font-size: 16px;
    border-radius: 5px;
    }
    .login-form-container label{
    color: #464646;
    text-shadow: 0 1px 0 var(--mainWhite);
    font-size: 14px;
    font-weight: bold;
    }
    .login-form-container center{
    font-size:32px;
    }
    .login-form-container .note{
    color:red;
    }
    .login-form-container .valid{
    color:green;
    }
    .login-form-container .back{
    text-decoration: none;
    border: 1px solid var(--primaryColor);
    background-color: var(--primaryColor);
    padding: 3px 20px;
    color: var(--mainBlack);
    }
    .login-form-container input[type=button]{
    background: var(--primaryColor);
    color: var(--mainBlack);
    cursor: pointer;
    width: 100%;
    outline:none;
    letter-spacing: var(--mainSpacing);
    padding: 1rem 3rem;
    text-transform: uppercase;
    font-size: 1rem;
    border: 1px solid var(--primaryColor);
    transition: var(--mainTransition);
    }
    .login-form-container input[type=button]:hover{
    background: transparent;
    color: var(--primaryColor);
    }
    .showLoginForm{ /*muestra el login form*/
        transform: translateX(0);
    }
    .transparentBcgLoginFormContainer { /*hace visible el cobertor de la pantalla*/
        visibility: visible;
    }
/* --------------- End of login form ---------------- */
/* --------------- WhatsApp floating button ---------------- */
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:30px;
	box-shadow: 2px 2px 3px #999;
    z-index:100;
}
.float:hover {
    background-color: var(--primaryColor);
	color:#FFF;
}
.my-float{
	margin-top:16px;
}
/* --------------- End of WhatsApp floating button ---------------- */
/*---------- Footer -------------------- */
footer{
    display:block;
}
.banner-services-footer .services{
    margin: 10px auto;
}
.theme-full .footer,
.theme-full .footer-legal {
    padding:  20px;
}
/* --------------- End of Footer ---------------- */